:root {
  /*  ===============================
      Colors
      ===============================   */
  --Blue: hsl(223, 87%, 63%);
  --PaleBlue: hsl(223, 100%, 88%);
  --LightRed: hsl(354, 100%, 66%);
  --Gray: hsl(0, 0%, 59%);
  --VeryDarkBlue: hsl(209, 33%, 12%);

  /* ===============================
     Fonts
     ===============================  */

  --ff-primary: "Libre Franklin", sans-serif;
  --fs-fontsize: 1rem;
  --fw-300: 300;
  --fw-600: 600;
  --fw-700: 700;
}

/* ==============================
   Body
   ==============================  */

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-fontsize);
  font-weight: var(--fw-300);
}

/* ==============================
Layout
============================== */

.container {
  max-width: 375px;
  width: 95%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .container {
    max-width: 800px;
  }
}

/* ================================
   Typography
   ================================ */
